<!doctype html>
<html>

<head>
    <title>Stats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stats</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>


    <body class="bg-muted">
        
        
        <div class="img">
            <h1>Covid Stats Country Wise</h1>
        </div>
</br>


    
        <% info.forEach(function(i){ %>

        <div class="container shadow p-2 mb-5 bg-white rounded"  style="border:2px; border-radius:10px;">
            <div class="row">
                <div class="col-lg-4  col-md-4 col-4 ">
                    <img src="<%= i.countryInfo.flag %>" style="border-radius:20px; padding: 30px;" width="200px" height="200px"></img>
                </div>
                <div class="col-lg-4  col-md-4 col-4 " style="font-style:bold">
                    <h1 style="font-size:1.5em; padding-bottom:5px"><%= i.country %></h1>
                    <p> Total Cases : <%= i.cases %> </p>
                    <p> Total Recovered : <%= i.recovered %></p>
                    <p> Total Death : <%= i.deaths %></p>
                    <p> Today Cases: <%= i.todayCases %></p>
                    <p> Total Recovered : <%= i.todayRecovered %></p>
                    <p> Active Cades : <%= i.active %></p>
                </div>
        </div>
        </br>
        <br>
        <% }); %>


    </body>

</html>