<!doctype html>
<head>
    <title>Stats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stats</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/home.css" type="text/css">
</head>


<body class="newsbody">
    <%- include ('partials/navNews') %>

        <div>
            <h4 style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                Covid News
            </h4>
        </div>
        </br>
        <div class="wrapper">
            <div class="news">
                <% info.forEach(function(i){ %>
                    <a href="<%=i.url %>" class="news__card">
                        <img src="<%= i.urlToImage%>" class="newsImg" alt="<%= i.title %>">
                        <h2 class="newsh2"><%= i.title%></h2>
                        <h6><%= i.description%></h6>
                        <p><%= i.content %></p>
                    </a>
                <% }); %>
            </div>
        </div> 

        <a href="/index"><img src="/images/bot.png" class="img-fluid" style="border-radius: 50%; 
            border:3px solid black; height:70px ;width:70px;
             box-shadow: 7px 5px 10px rgb(161, 113, 250);
             position: fixed;
          bottom: 9px;
          right: 50px;"></a> 
    
</body>

</html>